#n4_937 {
position: absolute;
left: 7.14%;
right: 10.08%;
top: 8.95%;
bottom: 20.48%;

}
  /* WAKANDA HOTELS – FACILITIES */
  #n4_1334 {
  position: absolute;
  left: 7.14%;
  right: 10.08%;
  top: 8.95%;
  bottom: 20.48%;

  }

    /* Facilities */
      #n4_1442 {
      position: absolute;
      width: 1589.49px;
      height: 1916px;
      left: 137px;
      top: 243px;
    }
        /* Facilities */

          #n4_1393 {
          position: absolute;
          left: 10.05%;
          right: 10.08%;
          top: 13.81%;
          bottom: 20.48%;
          }

          /* Fac 1 */
            #n4_1394 {
            position: absolute;
            left: 10.05%;
            right: 52.32%;
            top: 13.81%;
            bottom: 70.35%;
          }

              /* Group 308 */
              #n4_1397 {
                position: absolute;
                left: 11.28%;
                right: 79.82%;
                top: 26.11%;
                bottom: 71.79%;

                }

              /* Seaside View */
                #n4_1398 {
                  position: absolute;
                  left: 11.28%;
                  right: 80.23%;
                  top: 26.11%;
                  bottom: 72.56%;

                  font-family: Poppins;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 36px;
                  /* identical to box height */

                  color: #FFFFFF;

                }
    
                /* Fitness center for clients */
                #n4_1399 {
                  position: absolute;
                  left: 11.28%;
                  right: 79.82%;
                  top: 27.44%;
                  bottom: 71.79%;

                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 21px;
                  /* identical to box height */


                  color: #FFFFFF;

                }

              /* Path 795 */
              #n4_1396 {
                position: absolute;
                left: 10.05%;
                right: 75.35%;
                top: 25.7%;
                bottom: 71.44%;

                background: #1BDFEE;
              }

              
    
              /* bali-2975787 */
              #n4_1446 {
                position: absolute;
                left: 10.08%;
                right: 52.32%;
                top: 13.81%;
                bottom: 70.35%;

              }

              /* bali-2975787 */
              #n4_1395 {
                position: absolute;
                width: 722px;
                height: 430px;
                left: 193px;
                top: 375px;

                background-image: url("https://s3-alpha-sig.figma.com/img/aaa5/c7c4/4124a289ed6c64d46b1b4eff3a447334?Expires=1592784000&Signature=g7KUy8qHEmrft~c~KrxqYeFY8WAarT0uXHB4~7uTdh0jbFq1oWuep-5OjWfOkL17Y5s8dfeChk0qkZh7yHDUvFu~0aZ0ebpaGMxVtPbXT4~XjG3BNOo8FczHSBNY9YjD8U4H6DYSKuG~uJXlyt8wgwW6OnxhG3SANlqNJmntrl2W-hUDEnqaMhy86HggXpzMlV0CouX-l2X5GD7BIW1rp8Jb60ZR1ElrzQYVoJ93O27FdyqAMU~9Ue149j78pvU6zvNal6q1exhXKA5kUHpwoyPDmu~SFZPt21qWKWDBATdGGQkxQrD15eH1lqJN59HR7PAaLAcoWOOfFHXB-~ILmQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
              }
 
					/* Rectangle 121 */
					#n4_1445 {
						position: absolute;
            width: 722.49px;
            height: 430px;
            left: 193px;
            top: 375px;

            background: #C4C4C4;
					}
          /* Fac 1 */
          #n4_1400 {
            position: absolute;
            left: 10.05%;
            right: 52.32%;
            top: 13.81%;
            bottom: 70.35%;
          }


					/* Rectangle 119 */
					#n4_1449 {
						position: absolute;
            width: 722.49px;
            height: 430px;
            left: 1004px;
            top: 375px;

            background: #C4C4C4;
					}
 
					/* hotel-3728754 */
					#n4_1450 {
						position: absolute;
            width: 772px;
            height: 460px;
            left: 979px;
            top: 360px;

            background-image: url("https://s3-alpha-sig.figma.com/img/94d2/3bfa/ab4bc1c722f1f67721ec8a82c1f1b2eb?Expires=1592784000&Signature=Jqy8QYnZn6g1OppJVDJhVzErGDBH0O3gwCu3YDdboRvvQv5RuCA2SoyGsDQ8hr8qSc4leH1ZewjNspKJvd5JFIUrdF4Ny-HplziVR0KbNAYzoJaE61eOAk4GxkSPtyLE~DvrXgEuF6uuXeE53pdIhy9qL6sBba0w2wKh-5nchE0ziHxMc5cKoePJNUQSvd06UfRKZrK4ATNKgIJ-doQXevfAaWwdzAX9G6oKziVx9zNo8W0aEyHTb9JHVbaL8imZbziNPo8XbZ5JYdetGDVEm~4b7F8HWbG4xkIntvv8uSHzbVib0AIQ5coQmxS16X3YtmbecH-I2bMyCgj~Qmr~1g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
					}
 
					/* dining-410832 */
					#n4_1401 {
						position: absolute;
            left: 52.32%;
            right: 10.08%;
            top: 13.81%;
            bottom: 70.35%;
					}
 
					/* Path 795 */
					#n4_1402 {
						position: absolute;
            left: 52.29%;
            right: 33.11%;
            top: 25.7%;
            bottom: 71.44%;

            background: #1BDFEE;
					}

          /* Group 308 */
          #n4_1403 {
            position: absolute;
            left: 53.52%;
            right: 37.58%;
            top: 26.11%;
            bottom: 71.79%;
          }

						/* Kitchen */
						#n4_1404 {
							position: absolute;
              left: 53.52%;
              right: 41.48%;
              top: 26.11%;
              bottom: 72.56%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */


              color: #FFFFFF;

						}
 
						/* Fitness center for clients */
						#n4_1405 {
							position: absolute;
              left: 53.52%;
              right: 37.58%;
              top: 27.44%;
              bottom: 71.79%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;

						}

          /* Fac 3 */
          #n4_1406 {
            position: absolute;
            left: 10.26%;
            right: 52.16%;
            top: 30.57%;
            bottom: 53.59%;
          }


					/* Rectangle 120 */
					#n4_1453 {
						position: absolute;
            width: 721.49px;
            height: 430px;
            left: 197px;
            top: 830px;

            background: #C4C4C4;
					}
 
					/* interior-1026464 */
					#n4_1454 {
						background-image: url("https://s3-alpha-sig.figma.com/img/9d51/6beb/ec5a85a1ab7475af56a40d77e49b5591?Expires=1592784000&Signature=JfUPB7FamO0Pg162VQ0JV~AHZ7SVSoXNVPXqL3EDob3R2g2avs4HbjPQrPGq02EOMM~1z9UHtB5eVFpzY7UVrgTRE1IN3O6R0AfyNH2Cg0KPNVg9h-RffL4-ebs3N~6RGu0Ctg1K0QvQQHzRc6juxAwlvv~Hk6nKRqdbvJG4Tmd~JnUvcENkZuFPAhRNbaiFnuxLqN4UJwf5FlylCX-8B-aBZPieSI936C58YSU3nEp32lhcjxlMrvgiuaR7zRSippVgs4TE0cVNTrRhoi~0VSkbSxUtuXhuGRL-jBQi6mgV4bJonLaygkSQxPG~W6R~uCz7bYZ64gm9cEgAjiumrQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						left: 164px;
						width: 780px;
						top: 802px;
						height: 476px;
					}
 
					/* machines-91849 */
					#n4_1407 {
						left: 10.0777%;
						right: 52.3181%;
						top: 30.39%;
						bottom: 53.78%;
					}
 
					/* Path 795 */
					#n4_1408 {
						background: rgb(27, 223, 238);
						left: 10.0521%;
						right: 75.3514%;
						top: 42.28%;
						bottom: 54.87%;
					}
 
 
						/* Private Pool */
						#n4_1410 {
							position: absolute;
              left: 11.28%;
              right: 81.12%;
              top: 42.69%;
              bottom: 55.99%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */


              color: #FFFFFF;
						}
 
						/* Fitness center for clients */
						#n4_1411 {
							position: absolute;
              left: 11.28%;
              right: 79.82%;
              top: 44.01%;
              bottom: 55.21%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;

						}

          /* Fac 4 */
          #n4_1412 {
            position: absolute;
            left: 52.29%;
            right: 10.08%;
            top: 30.39%;
            bottom: 53.78%;

          }

					/* Rectangle 123 */
					#n4_1463 {
						background: rgb(196, 196, 196);
						left: 1004px;
						width: 722.49px;
						top: 825px;
						height: 430px;
					}
 
					/* machines-91849 */
					#n4_1464 {
						background-image: url("https://s3-alpha-sig.figma.com/img/12a5/f876/20613d32956a0c494c7ab513b0bc63b5?Expires=1592784000&Signature=QIMg9fL37oBoa1Rqc3Yce7~Ap8FVN0AoRAXQeec-pri1sdMx1nU142mgn0xAZ0zXU2SQFyITSW0FjT5IVzYvw-1AAxVQ3BrB2wO~goYcN7hCkLPohyAkbAsiDL1ShOHjWcXpIJVWZtnnZEnY2MvSCoa6k6p0ygoov1O03lHumvd6pk-nf9pjklO6dLP8b4I8zCZtwDAyNyGCBwRdcaXD4olY7RxJuHB-2qzHf48iSOpWeXqB5g9sbokrFcJSFRcJvyfSG1gOqLWJL6ceF4VNUO~M1hdAsBTN6BiT~bMKhTIuzcHk4s00hAjtWI5jqc~2kSvpn1mo-MQmaxhYdF3hJA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						left: 1004px;
						width: 722px;
						top: 825px;
						height: 430px;
					}
 
					/* dining-410832 */
					#n4_1413 {
						left: 52.3173%;
						right: 10.0785%;
						top: 30.39%;
						bottom: 53.78%;
					}
 
					/* Path 795 */
					#n4_1414 {
						background: rgb(27, 223, 238);
						left: 52.2917%;
						right: 33.1118%;
						top: 42.28%;
						bottom: 54.87%;
					}

          /* Group 308 */
          #n4_1415 {
            position: absolute;
            left: 53.52%;
            right: 37.27%;
            top: 42.69%;
            bottom: 55.21%;
          }

						/* Fitness Center */
						#n4_1416 {
              position: absolute;
              left: 53.52%;
              right: 37.27%;
              top: 42.69%;
              bottom: 55.99%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */


              color: #FFFFFF;

						}
 
						/* Fitness center for clients */
						#n4_1417 {
							position: absolute;
              left: 53.52%;
              right: 37.58%;
              top: 44.01%;
              bottom: 55.21%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;
						}
 

          #n4_1418 {
            position: absolute;
            left: 10.05%;
            right: 52.32%;
            top: 46.96%;
            bottom: 37.2%;
          }

					/* Rectangle 125 */
					#n4_1468 {
						background: rgb(196, 196, 196);
						left: 193px;
						width: 722.49px;
						top: 1275px;
						height: 430px;
					}
 
					/* physiotherapy-567021 1 */
					#n4_1469 {
						background-image: url("https://s3-alpha-sig.figma.com/img/04ce/cf3a/860a2cb80bc55c1988572045802db3b3?Expires=1592784000&Signature=CDDWIR0Q~~Du1DON0n3CFwGjVAz6SYeJG4-KGxHWoNEesfwvOodDRR9bdiXbXszUlWBCajA6xkfHHX2honnEHZudVTsOLCK6fekgoKANb2sUrC75Ijf~eHdm8~fLB3lmAByQCNiw~5MWT~3fTFPGDnXpS7cPRij~VbHYLDIJdFco5jtAlXtT8f~lAMkCuGNsY6WC30mYxWEccOtlHPHK4praXgA5IuqOAOobrX4rmUyI7AOL8rujRDq6qfGdhn3bDLB3QssVmgS3M8wQlYfJ5KyvguT~RFJuc11BnnDSDxuubBDOKu0cXHM6ChSHly2IkihfcKyRSLnD5mpJJi7RQQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
            position: absolute;
						left: 193px;
						width: 722px;
						top: 1275px;
						height: 430px;
					}
 
					/* machines-91849 */
					#n4_1419 {
						left: 10.0777%;
						right: 52.3181%;
						top: 46.96%;
						bottom: 37.2%;
					}
 
					/* Path 795 */
					#n4_1420 {
						background: rgb(27, 223, 238);
						left: 10.0521%;
						right: 75.3514%;
						top: 58.85%;
						bottom: 38.29%;
					}
 
          /* Group 308 */
          #n4_1421 {
            position: absolute;
            left: 11.28%;
            right: 79.45%;
            top: 59.26%;
            bottom: 38.64%;
          }

						/* Nuru Massage */
						#n4_1422 {
							position: absolute;
              left: 11.28%;
              right: 79.45%;
              top: 59.26%;
              bottom: 39.41%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */


              color: #FFFFFF;
						}
 
						/* Fitness center for clients */
						#n4_1423 {
							position: absolute;
              left: 11.28%;
              right: 79.82%;
              top: 60.59%;
              bottom: 38.64%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;

						}

          /* Fac 6 */
          #n4_1424 {
            position: absolute;
            left: 52.29%;
            right: 10.08%;
            top: 47%;
            bottom: 37.16%;
          }

					/* Rectangle 124 */
					#n4_1472 {
						position: absolute;
            width: 722.49px;
            height: 430px;
            left: 1004px;
            top: 1276px;

            background: #C4C4C4;
					}
 
					/* relaxation-3065577 */
					#n4_1473 {
						background-image: url("https://s3-alpha-sig.figma.com/img/97ed/b1e6/2e378bd9d0ac63029adfa04deae56a8b?Expires=1592784000&Signature=dQSQyFEp5Z89Kom-TcU5ypVE28GlQVnOTvADlCIOdmpCqxmrF-8oi2POAusaQ4xgovof2UaWw8viIwvQ~sRLvV0i-P3i3i2qDcI9ZLIm9fXZ2VkXT1Z3SaXIdJ1iXoNchMH6zoFRttA695lvZNYAd2NX44hCvAtBaTLhOICwV7U2GQClJCYiMtv2qVz~oQacDCBT8T9GCXqEZehYv2LMpMWul7DPo0ODhdL~I6-ktk~VtcDx4ACeei54MqSRomnEcIcO~iY4zR5g6~9Vu324JP~h~~8rJII21c5Eih0lBDBpyMGCr3AM9W9jjuYCZPucgfZ3jIHwnq9iiDvG-Tw9NA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
            position: absolute;
						left: 986px;
						width: 758px;
						top: 1253px;
						height: 473px;
					}
 
					/* dining-410832 */
					#n4_1425 {
						left: 52.3173%;
						right: 10.0785%;
						top: 46.96%;
						bottom: 37.2%;
					}
 
					/* Path 795 */
					#n4_1426 {
						background: rgb(27, 223, 238);
						left: 52.2917%;
						right: 33.1118%;
						top: 58.85%;
						bottom: 38.29%;
					}
 
          /* Group 308 */
          #n4_1427 {
            position: absolute;
            left: 53.52%;
            right: 37.58%;
            top: 59.26%;
            bottom: 38.64%;
          }

						/* Soft Massage */
						#n4_1428 {
							position: absolute;
left: 53.52%;
right: 37.84%;
top: 59.26%;
bottom: 39.41%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;


						}
 
						/* Fitness center for clients */
						#n4_1429 {
							position: absolute;
left: 53.52%;
right: 37.58%;
top: 60.59%;
bottom: 38.64%;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;

						}
 
          /* Fac 7 */
          #n4_1430 {
            position: absolute;
left: 10.05%;
right: 52.32%;
top: 63.54%;
bottom: 20.63%;
          }

					/* Rectangle 126 */
					#n4_1476 {
						background: rgb(196, 196, 196);
						left: 193px;
						width: 722.49px;
						top: 1725px;
						height: 430px;
					}
 
					/* swimmers-79592 */
					#n4_1477 {
						background-image: url("https://s3-alpha-sig.figma.com/img/fd7a/3372/27d624cbf7a176ef1e606075ec4df8fc?Expires=1592784000&Signature=XfMmXimmYNTg~3bqn7V6oi-Ys2HNr~KRIvAFjE6RnIfZezqr1JxJdpxapXkDUt1fVHdf4a33WkPE4g-zpKQeCUOi0O~2TxQcuOm9jdVy1Of6u-lG12QDKQoJnxoqCHE6dTWNPRf1ss58X4tyUmEUXuOvNv4tTKir3px9u9JkWLLmfGHbmVeO~6-GQzuxkLsv38wY8ONNzNkJk0Tt5RllhVlpnVJpZ-zTIfIvAaNG3UsvLNKW2SSzGr3AQQwOZyNl42azWK7MCitnvnCQcQo7VWxX8JHuxia15UHIwHuKiyv8I2a6R~ezcJugYcXD73mPw4O90~~riuVnLPSvLWHGTQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
            position: absolute;
						left: 193px;
						width: 722px;
						top: 1725px;
						height: 430px;
					}
 
					/* machines-91849 */
					#n4_1431 {
						left: 10.0777%;
						right: 52.3181%;
						top: 63.54%;
						bottom: 20.63%;
					}
 
					/* Path 795 */
					#n4_1432 {
						background: rgb(27, 223, 238);
						left: 10.0521%;
						right: 75.3514%;
						top: 75.43%;
						bottom: 21.72%;
					}
 
          /* Group 308 */
          #n4_1433 {
            position: absolute;
left: 11.28%;
right: 79.82%;
top: 75.84%;
bottom: 22.06%;
          }
						/* Sports Pool */
						#n4_1434 {
							position: absolute;
              left: 11.28%;
              right: 81.59%;
              top: 75.84%;
              bottom: 22.84%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */
              color: #FFFFFF;
						}
 
						/* Fitness center for clients */
						#n4_1435 {
							position: absolute;
              left: 11.28%;
              right: 79.82%;
              top: 77.16%;
              bottom: 22.06%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;

						}
 
          /* Fac 8 */
          #n4_1436 {
            position: absolute;
            left: 52.03%;
            right: 10.34%;
            top: 63.68%;
            bottom: 20.48%;
          }

					/* Rectangle 122 */
					#n4_1480 {
						background: rgb(196, 196, 196);
						left: 999px;
						width: 722.49px;
						top: 1729px;
						height: 430px;
					}
 
					/* wine-bottles-3623697 */
					#n4_1481 {
						background-image: url("https://s3-alpha-sig.figma.com/img/bbf6/a0c2/f1b53b5af7b79ee80fb8edb144dee2cf?Expires=1592784000&Signature=PS6iwNYEVQklp8mCDcGn-VJBBweeul59i7RNrtKiNTxaYJRmbPNYQjgA9QM-ZaiRo4CtZ1f9d~NbZqas8W1wKc2ccNUSx9XPw0UIv7WVtP48RZPcXPo2-TLNPRmWKXYhjbkAJ4AfCtZ4ZGqJ6L4~Tk7MP8wrKjWqg4JTIRuoGJ~oqGRRa7sObKcDMilS2xBkYPsY1DnCH3jTvps1ixZ74xnbFxzdNWXZZa4U0AbSQVEN6uyHhnFFp0rtIOuzrg4HdDfe0vHeLC4TqTDXR20eLyVnDvwDUq7eOkg8YxVnLpS0DVb7Fa8JPIDZ4rFayTM5AgdUthnutSult~Kg3kuwAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
            position: absolute;
						left: 968px;
						width: 794px;
						top: 1709px;
						height: 463px;
					}
 
					/* dining-410832 */
					#n4_1437 {
						left: 52.3173%;
						right: 10.0785%;
						top: 63.54%;
						bottom: 20.63%;
					}
 
					/* Path 795 */
					#n4_1438 {
						background: rgb(27, 223, 238);
						left: 52.2917%;
						right: 33.1118%;
						top: 75.43%;
						bottom: 21.72%;
					}

          /* Group 308 */
          #n4_1439 {
          position: absolute;
          left: 53.52%;
          right: 37.58%;
          top: 75.84%;
          bottom: 22.06%;
          }
          
						/* Bar */
						#n4_1440 {
							position: absolute;
              left: 53.52%;
              right: 44.25%;
              top: 75.84%;
              bottom: 22.84%;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 36px;
              /* identical to box height */


              color: #FFFFFF;
						}
 
						/* Fitness center for clients */
						#n4_1441 {
							position: absolute;
              left: 53.52%;
              right: 37.58%;
              top: 77.16%;
              bottom: 22.06%;

              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */


              color: #FFFFFF;

						}
 
        /* <!-- Facilities Title --> */
        #n4_1374 {

          position: absolute;
          left: 7.14%;
          right: 71.25%;
          top: 8.95%;
          bottom: 88.36%;
        }
				/* Facilities */
				#n4_1375 {
					position: absolute;
          left: 13.18%;
          right: 71.25%;
          top: 9.02%;
          bottom: 88.47%;

          font-family: Trajan Pro 3;
          font-style: normal;
          font-weight: normal;
          font-size: 57px;
          line-height: 68px;

          color: #707070;

				}
 
				/* Union 5 */
				#n4_1376 {
					position: absolute;
          left: 11.2%;
          right: 84.74%;
          top: 11.64%;
          bottom: 85.67%;

          background: #1BDFEE;
          transform: rotate(180deg);
				}
